body {
    font-family: Roboto, sans-serif;
    margin: 0;
    color: white;
    background-color: white;
    height: auto;
}

.header,
.hero,
.information,
.quote,
.sign-up,
footer {
    padding: 50px 10vw;
}

.header {
    background-color: #1F2937;
    margin: 0;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}

.header-text {
    font-weight: bold;
    font-size: 20px;
}

.header ul {
    list-style: none;
    padding: 0;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    flex: auto;
    gap: 1em;
}

.hero-text p,
.hero-text button {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    flex: auto;
    width: 40vw;
    height: auto;
    border-radius: 2%;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F9FAF8;
    gap: 10em;
    background-color: #1F2937;
}

.hero button,
.hero p,
.hero h1 {
    margin: 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 0.5em;
    width: 7em;
    height: 2.5em;
    font-size: 16px;
    font-weight: bold;
}

.information {
    background-color: white;
    margin-bottom: 0px;
}

.information h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.information ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.information li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #1F2937;
    text-align: center;
}

.information img {
    border-radius: 2%;
    width: 15vw;
    height: 12em;
    border-color: #3882f6;
    border-width: 0.2em;
    border-style: solid;
    object-fit: cover;
}

.quote {
    background-color: #e5e7eb;
    margin: 0px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    text-align: center;
    margin: 0px;
}

.quote-author {
    text-align: end;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    color: #1F2937;
}

.sign-up {
    background-color: #3882F6;
    margin: 100px 15vw;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0;
}

.sign-up-big-text {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
}

.sign-up button {
    background-color: #3882f6;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 0.5em;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    height: 36px;
    width: 130px;
}

footer {
    text-align: center;
    background-color: #1F2937;
    font-weight: bold;
    font-size: 16px;
}
